body {
    background-color:black;
}

#commandListPrompt {
    position:absolute;
    margin-top:20px;
    margin-left:100px;
    color:grey;
    font-size:small;
    position: fixed; /*make it stay with you as you scroll page*/
}

#commandListBox {
    visibility:hidden;
    z-index:2;
    background-color:black;
    opacity: 0.75;
    position:absolute;
    margin-top:20px;
    margin-left:100px;
    color:lightblue;
    font-size:x-large;
    position: fixed; /*make it stay with you as you scroll page*/
}

#mainBox {
    margin-top:20px;
}

#inputBox {
    float:left;
    margin-left:100px;
    position: fixed; /*make it stay with you as you scroll page*/
}

#outputBox {
    z-index:1;
    position:absolute;
    margin-left:300px;
}

#lineNumbers {
    text-align:right;
    color:yellow;
}

#outputStr {
    color:lime;
}

#createFile2 {
    visibility:hidden;
}

#createFile {
    position: fixed; /*make it stay with you as you scroll page*/
}